@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    font-family: "微软雅黑", serif;
    color: #5d5d5d;
    background: #E3E3E5 url(../images/student_bg.jpg)repeat-y fixed;
    -webkit-background-size: 100%;
    /*background-size: 100%;*/
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

li {
    list-style: none;
}

/*end*/
/*table begin*/
#table {
    border: 1px solid #3bafda;
    margin: 100px auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.5em;
    width: 100%;
}

#table td {
    border: 1px solid blue;
    padding: 4px 10px;
    text-align: center;
}

.th {
    border: 1px solid blue;
    padding: 4px 10px;
    text-align: center;
    width: 14%;
}
#caption{
    font-size: 2em;
    color: blue;
    font-family: STKaiti,serif;
}
/*table end*/

#header {
    width: 100%;
    margin: 0 auto;
}

#header h1 {
    font-size: 1.5em;
    color: #664666;
    padding: 5px 0 5px 15px;
    font-weight: 600;
    font-family: STKaiti, serif;
}

#header p {
    font-size: 1em;
    color: #DB5E5E;
    font-weight: 500;
    text-align: right;
}

#nav {
    width: 1000px;
    margin: 20px auto;
}

#nav ul li {
    width: 200px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    margin: 0 2px 0 0;
}

#nav ul li a {
    color: #506F70;
    font-size: 16px;
    width: 200px;
    height: 30px;
    display: block;
}

#nav ul li a:hover {
    display: block;
    width: 200px;
    height: 30px;
    background: #829696;
    border-radius: 3px;
    color: #fff;
}

#nava {
    display: block;
    color: #fff;
    width: 200px;
    height: 30px;
    background: #829696;
    border-radius: 3px;
}

/*header end*/


